html {

}

body {	
	background: #F0F0F0;

	
}

html body div.container-fluid div#outputWrapper.test body {
	background: #ffffff;
}

html body div.container-fluid form div.row-fluid div.span4 div.navbar {
	margin-bottom: 0px;
}


.textareaWrapper,
textarea {
  margin-top: 5px;

  min-height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

.textareaWrapper.focus,
textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}






#outputWrapper{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	margin: 0px auto;
	background: none repeat scroll 0 0 #F3F3F3;

}
#outputWrapper .frameArea {
	height: 100%;

}
#outputWrapper iframe {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	height: 100%;
	width: 100%;
}

#outputNav strong{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #DDDDDD;
	display: block;

	font-family: shanti,sans-serif;
	font-weight: normal;
	height: 25px;
	margin-right: 2px;
	overflow: hidden;
	padding: 0 10px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: none repeat scroll 0 0 #F3F3F3;
	box-shadow: 2px 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 0 0 rgba(0, 0, 0, 0.2);
	webkit-box-shadow: 2px 0 0 rgba(0, 0, 0, 0.2);
	color: #777777;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);

}




/*Code mirror*/

.CodeMirror-gutter {
	border-radius: 2px 2px 2px 2px;
}




iframe {
	width: 100%;
}




a.fullscreen {
	color: #000000;
	padding: 0px 15px;
	font-size: 10px;
}

a.fullscreen:hover {
	text-decoration: none;
	color: #646262;
}



/*Js options*/

.js_options {
    border: 1px dashed #F2F2F2;
    display: block;
    height: 150px;
    margin: 40px 0;
    padding: 10px;
}

span.js_options label {
	width: 100%;
	margin: 2px 0px;
}


